.container{
    background-color: #4816ff;
    background-image: url(assets/bg2.jpg);
    background-image: -webkit-linear-gradient();
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;
}
.totdata{
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.rule{
font-family: Georgia, serif;
font-size: 37px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
color: #FFFFFF;
background: rgba(0,0,0,0.2);
text-shadow: #290303 3px 5px 2px;
}
.inpnum {
    padding: 5px;
    font-size: 14px;
    border-width: 5px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 7px;
    box-shadow: -1px 6px 5px rgba(66,66,66,.64);
    text-shadow: 2px 0px 5px rgba(66,66,66,.75);
    height: 1rem;
    width: 4rem;
}
.inpnum:focus {
    outline:none;
}
.sub-button{
        font-family: arial;
        color: #14396A !important;
        font-size: 12px;
        width: fit-content;
        text-shadow: 1px 1px 0px #7CACDE;
        box-shadow: 1px 1px 1px #BEE2F9;
        padding:8px 15px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 2px solid #3866A3;
        background: #63B8EE;
        background: linear-gradient(top,  #63B8EE,  #468CCF);
        background: -ms-linear-gradient(top,  #63B8EE,  #468CCF);
        background: -webkit-gradient(linear, left top, left bottom, from(#63B8EE), to(#468CCF));
        background: -moz-linear-gradient(top,  #63B8EE,  #468CCF);
      }
      .sub-button:hover {
        color: #14396A !important;
        background: grad;
        background: linear-gradient(top,  #468CCF,  #63B8EE);
        background: -ms-linear-gradient(top,  #468CCF,  #63B8EE);
        background: -webkit-gradient(linear, left top, left bottom, from(#468CCF), to(#63B8EE));
        background: -moz-linear-gradient(top,  #468CCF,  #63B8EE);
      }
.lives-font{
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        border: none;
        font: normal normal bold 32px/1 "Aclonica", Helvetica, sans-serif;
        color: #24790d;
        text-align: center;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        word-spacing: 7px;
        text-shadow: 0 0 9px rgba(20,255,20,0.7) ;
      }
#message {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    font: normal 26px/1 Impact, Charcoal, sans-serif;
    color: #0f3854;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
      


      /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}